<ion-view view-title="Vibration" on-tap="showing_spike()">
    <div class="bar bar-header">
        <a ng-href="#/tab/home" class="button">Back</a>
        <h1 class="title">Vibration</h1>
    </div>
    <ion-content class="has-header">
        <div class="list list-inset">
            <div class="item">
                Tap the screen
            </div>
            <div class="item" id="panel_container">
                <svg id="line"></svg>
                <svg id="spike"></svg>
            </div>
        </div>
    </ion-content>
</ion-view>
